@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  text-align: center;
  /* font-family: 'Open Sans', sans-serif; */
  font-family: "Poppins", sans-serif;
}
.navbar .container .navbar-brand img {
  width: 5rem;
}
#form {
    margin-top: 10rem;
    margin-bottom: 8rem;
    height: 90vh;
    width: 30vw;
    padding: 5rem;
    padding-top: 4rem;
}
#form h1 {
    margin-bottom: 3rem;
}
#form label {
    float: left;
    font-size: 1.1rem;
    font-weight: 600;
}
#form input {
    text-align: left;
}
#form .alert {
    margin-top: 4rem;
}
@media (max-width: 1024px) {
    #form {
        width: 70vw;
        height: 80vh;
        padding: 4rem;
        margin-bottom: 15rem;
    }
}
@media (max-width: 768px) {
    #form {
        width: 80vw;
        height: 88vh;
        padding: 2rem;
    }   
}